<!DOCTYPE html>
<html style="height: 200px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - SmartCart</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Bootstrap-Payment-Form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Modern-Contact-Form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/untitled.css') }}">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="{{ url_for('Registration') }}"><i class="fa fa-opencart" style="color: rgb(255,82,82);font-size: 41px;"></i>&nbsp;SmartCart</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                                                                                                                                                                                                                                                                     type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link active js-scroll-trigger" href="{{ url_for('AboutUs') }}">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('https://bildhpsmartcart.s3.eu-central-1.amazonaws.com/intro-bg.jpg');">
        <div class="intro-body" style="height: 706px;">
            <div class="container">
                <div class="row" style="color: #ffffff;">
                    <div class="col-lg-8 col-xl-6 offset-xl-1 mx-auto">
                        <h1 class="brand-heading" style="font-size: 42px;">please enter your credit card details&nbsp;&nbsp;</h1>
                        <p class="intro-text"></p>
                    </div>
                </div>
                <div class="row .payment-dialog-row" style="color: #ffffff;margin-right: -37px;margin-left: -62px;">
                    <div class="col-12 col-md-4 offset-md-4" style="width: 442px;color: #ffffff;">
                        <div class="card credit-card-box" style="background: rgba(255,255,255,0);">
                            <div class="card-header"
                                <h3 style="margin-bottom: 4px;"><span class="panel-title-text" style="font-family: Cabin, sans-serif;margin-bottom: 1px;">Payment Details </span></h3><span><i class="fa fa-cc-mastercard" style="font-size: 40px;"></i><i class="fa fa-cc-visa" style="font-size: 40px;margin-left: 10px;"></i></span></div>
                            <div
                                class="card-body">
                                <form id="payment-form">0
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="cardNumber" style="font-family: Cabin, sans-serif;">Card number </label>
                                                <div class="input-group"><input class="form-control" type="tel" id="cardNumber" required="" placeholder="Valid Card Number" style="font-family: Cabin, sans-serif;margin-right: 4px;">
                                                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-credit-card"></i></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-7">
                                            <div class="form-group"><label for="cardExpiry" style="font-family: Cabin, sans-serif;"><span>expiration </span><span>EXP </span> date</label><input class="form-control" type="tel" id="cardExpiry" required="" placeholder="MM / YY"
                                                    style="font-family: Cabin, sans-serif;"></div>
                                        </div>
                                        <div class="col-5 pull-right">
                                            <div class="form-group"><label for="cardCVC" style="font-family: Cabin, sans-serif;">cv code</label><input class="form-control" type="tel" id="cardCVC" required="" placeholder="CVC" style="font-family: Cabin, sans-serif;"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group"><label for="couponCode" style="font-family: Cabin, sans-serif;">coupon code</label><input class="form-control" type="text" id="couponCode" style="font-family: Cabin, sans-serif;"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12"><button class="btn btn-success btn-block btn-lg" type="submit" style="font-family: Cabin, sans-serif;background: rgb(255,82,82);border-radius: 76px;border-width: 2px;border-style: solid;border-top-left-radius: none;padding: 6px;text-align: center;">Checkout</button></div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <section id="contact" class="content-section text-center" style="height: 123px;padding: 28px;">
        <div class="container">
            <div class="row" style="margin: 0px;height: 122px;">
                <div class="col-lg-8 col-xl-8 offset-xl-4 mx-auto" style="text-align: center;margin: -10px;">
                    <h2>Contact us</h2>
                    <p style="font-family: Cabin, sans-serif;margin: 0px;text-align: center;">Feel free to
                    leave us a <a href="{{ url_for('Feedback') }}">comment or&nbsp; feedback</a> <br>about your shopping
                    experience with <i class="fa fa-opencart" style="color: rgb(255,82,82);font-size: 30px;"></i>&nbsp;SMARTCART!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer style="padding: 41px;height: 76px;">
        <div class="container text-center">
            <p style="font-family: Cabin, sans-serif;">Copyright ©&nbsp;SmartCart 2020</p>
        </div>
    </footer>
    <script src="../static/js/grayscale.js"></script>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/script.min.js"></script>
    <script src="../static/app.js"></script>
</body>

</html>